<a href="https://colab.research.google.com/github/hosamkefah/Data-Analysis-with-Python/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import pandas as pd
import numpy as np

In [65]:
df = pd.read_excel("Employee Sample Data - A.xlsx")

In [66]:
df.head(10)

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55.0,2016-04-08,141604.0,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59.0,1997-11-29,99975.0,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50.0,2006-10-26,163099.0,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26.0,2019-09-27,84913.0,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55.0,1995-11-20,95409.0,0.00,United States,Phoenix,NaT
5,E00644,Joshua Gupta,Account Representative,Sales,Corporate,Male,Asian,57.0,2017-01-24,50994.0,0.00,China,Chongqing,NaT
6,E01550,Ruby Barnes,Manager,IT,Corporate,Female,Caucasian,27.0,2020-07-01,119746.0,0.10,United States,Phoenix,NaT
7,E04332,Luke Martin,Analyst,Finance,Manufacturing,Male,Black,25.0,2020-05-16,41336.0,0.00,United States,Miami,2021-05-20
8,E04533,Easton Bailey,Manager,Accounting,Manufacturing,Male,Caucasian,29.0,2019-01-25,113527.0,0.06,United States,Austin,NaT
9,E03838,Madeline Walker,Sr. Analyst,Finance,Speciality Products,Female,Caucasian,34.0,2018-06-13,77203.0,0.00,United States,Chicago,NaT

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           1000 non-null   object
 1   Full Name      998 non-null    object
 2   Job Title      999 non-null    object
 3   Department     998 non-null    object
 4   Business Unit  1000 non-null   object
 5   Gender         999 non-null    object
 6   Ethnicity      993 non-null    object
 7   Age            994 non-null    float64
 8   Hire Date      993 non-null    datetime64[ns]
 9   Annual Salary  989 non-null    float64
 10  Bonus %        992 non-null    float64
 11  Country        998 non-null    object
 12  City           998 non-null    object
 13  Exit Date      85 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(3), object(9)
memory usage: 109.5+ KB

In [68]:
df.size

14000

In [69]:
df.shape

(1000, 14)

In [70]:
df.describe()

,Age,Hire Date,Annual Salary,Bonus %,Exit Date
count,994.000000,993,989.00000,992.000000,85
mean,44.369215,2012-04-17 22:56:11.601208576,113372.62184,0.088972,2016-11-02 18:04:14.117647104
min,25.000000,1992-01-09 00:00:00,40063.00000,0.000000,1994-12-18 00:00:00
25%,35.000000,2007-02-24 00:00:00,71234.00000,0.000000,2014-12-25 00:00:00
50%,45.000000,2014-02-20 00:00:00,96567.00000,0.000000,2019-05-23 00:00:00
75%,54.000000,2018-06-25 00:00:00,151027.00000,0.150000,2021-04-09 00:00:00
max,65.000000,2021-12-26 00:00:00,258498.00000,0.400000,2022-08-17 00:00:00
std,11.248162,NaN,53729.04678,0.118135,NaN

In [71]:
df

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55.0,2016-04-08,141604.0,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59.0,1997-11-29,99975.0,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50.0,2006-10-26,163099.0,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26.0,2019-09-27,84913.0,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55.0,1995-11-20,95409.0,0.00,United States,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33.0,2016-09-18,98427.0,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44.0,2010-05-31,47387.0,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31.0,2019-06-10,176710.0,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33.0,2012-01-28,95960.0,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63.0,2020-07-26,216195.0,0.31,United States,Miami,NaT

In [72]:
df.isnull().sum()

EEID               0
Full Name          2
Job Title          1
Department         2
Business Unit      0
Gender             1
Ethnicity          7
Age                6
Hire Date          7
Annual Salary     11
Bonus %            8
Country            2
City               2
Exit Date        915
dtype: int64

In [85]:
df_c = df.copy()

In [86]:
df_c['EEID'] = df_c['EEID'].astype(str)

In [87]:
df_c = df_c.dropna(subset = ['Full Name']) #, 'Department', 'Job Title'

In [88]:
df_c['Age'] = df_c['Age'].fillna(df_c['Age'].mean())

In [89]:
df_c.isna().sum()

EEID               0
Full Name          0
Job Title          1
Department         2
Business Unit      0
Gender             1
Ethnicity          7
Age                0
Hire Date          7
Annual Salary     11
Bonus %            8
Country            2
City               2
Exit Date        913
dtype: int64

In [90]:
df_c['Annual Salary'] = df_c['Annual Salary'].fillna(df_c['Annual Salary'].median())

In [91]:
df_c.isna().sum()

EEID               0
Full Name          0
Job Title          1
Department         2
Business Unit      0
Gender             1
Ethnicity          7
Age                0
Hire Date          7
Annual Salary      0
Bonus %            8
Country            2
City               2
Exit Date        913
dtype: int64

In [92]:
df_c[df_c['Country'].isna()]

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
115,E02017,Connor Joseph,Director,Human Resources,Corporate,Male,Caucasian,50.0,NaT,96567.0,NaN,NaN,NaN,NaT
130,E03131,Ezekiel Reed,Sr. Manger,IT,Manufacturing,Male,Caucasian,37.0,NaT,96567.0,NaN,NaN,NaN,2021-05-01

In [93]:
df_c['Ethnicity'] = df_c['Ethnicity'].fillna(df_c['Ethnicity'].mode()[0])

In [96]:
most_frequent_combo = df_c[['City', 'Country']].mode()
most_frequent_city = most_frequent_combo['City'][0]
most_frequent_country = most_frequent_combo['Country'][0]

df_c.loc[df_c['City'].isna() & df_c['Country'].isna(), 'City'] = most_frequent_city
df_c.loc[df_c['Country'].isna(), 'Country'] = most_frequent_country

In [97]:
#df_c['Country'] = df_c['Country'].fillna(df_c['Country'].mode()[0])
df_c[df_c['Country'].isna()]

Empty DataFrame
Columns: [EEID, Full Name, Job Title, Department, Business Unit, Gender, Ethnicity, Age, Hire Date, Annual Salary, Bonus %, Country, City, Exit Date]
Index: []

In [98]:
#df_c['City'] = df_c['City'].fillna(df_c['City'].mode()[0])

In [99]:
df_c['Bonus %'] = df_c['Bonus %'].fillna(df_c['Bonus %'].median())

In [100]:
df_c.isna().sum()

EEID               0
Full Name          0
Job Title          1
Department         2
Business Unit      0
Gender             1
Ethnicity          0
Age                0
Hire Date          7
Annual Salary      0
Bonus %            0
Country            0
City               0
Exit Date        913
dtype: int64

In [101]:
df_c['Hire Date'] = df_c['Hire Date'].fillna(df_c['Hire Date'].mode()[0])

In [102]:
df_c.isna().sum()

EEID               0
Full Name          0
Job Title          1
Department         2
Business Unit      0
Gender             1
Ethnicity          0
Age                0
Hire Date          0
Annual Salary      0
Bonus %            0
Country            0
City               0
Exit Date        913
dtype: int64

In [103]:
df_c['Job Title'] = df_c['Job Title'].fillna('Unknown')
df_c['Department'] = df_c['Department'].fillna('Unknown')
df_c['Gender'] = df_c['Gender'].fillna('Unknown')

In [104]:
#df_c['Exit Date'] = df_c['Exit Date'].fillna(0000-00-00)

In [105]:
df_c.isna().sum()

EEID               0
Full Name          0
Job Title          0
Department         0
Business Unit      0
Gender             0
Ethnicity          0
Age                0
Hire Date          0
Annual Salary      0
Bonus %            0
Country            0
City               0
Exit Date        913
dtype: int64

In [106]:
df_c['Still Working'] = df_c['Exit Date'].isnull()
df_c['Still Working'] = df_c['Still Working'].replace(False, 'NO')
df_c['Still Working'] = df_c['Still Working'].replace(True, 'YES')
df_c.head()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date,Still Working
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55.0,2016-04-08,141604.0,0.15,United States,Seattle,2021-10-16,NO
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59.0,1997-11-29,99975.0,0.00,China,Chongqing,NaT,YES
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50.0,2006-10-26,163099.0,0.20,United States,Chicago,NaT,YES
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26.0,2019-09-27,84913.0,0.07,United States,Chicago,NaT,YES
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55.0,1995-11-20,95409.0,0.00,United States,Phoenix,NaT,YES

In [108]:
df_c[df_c['Age'] < 40]

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date,Still Working
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26.0,2019-09-27,84913.0,0.07,United States,Chicago,NaT,YES
6,E01550,Ruby Barnes,Manager,IT,Corporate,Female,Caucasian,27.0,2020-07-01,119746.0,0.10,United States,Phoenix,NaT,YES
7,E04332,Luke Martin,Analyst,Finance,Manufacturing,Male,Black,25.0,2020-05-16,41336.0,0.00,United States,Miami,2021-05-20,NO
8,E04533,Easton Bailey,Manager,Accounting,Manufacturing,Male,Caucasian,29.0,2019-01-25,113527.0,0.06,United States,Austin,NaT,YES
9,E03838,Madeline Walker,Sr. Analyst,Finance,Speciality Products,Female,Caucasian,34.0,2018-06-13,77203.0,0.00,United States,Chicago,NaT,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,E01578,Anthony Hong,Sr. Manger,IT,Research & Development,Male,Asian,37.0,2010-11-29,146961.0,0.11,United States,Columbus,NaT,YES
992,E03058,Robert Wright,Technical Architect,IT,Manufacturing,Male,Caucasian,30.0,2015-06-14,67489.0,0.00,United States,Chicago,NaT,YES
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33.0,2016-09-18,98427.0,0.00,United States,Columbus,NaT,YES
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31.0,2019-06-10,176710.0,0.15,United States,Miami,NaT,YES
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33.0,2012-01-28,95960.0,0.00,China,Chengdu,NaT,YES

In [109]:
df_c.head()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date,Still Working
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55.0,2016-04-08,141604.0,0.15,United States,Seattle,2021-10-16,NO
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59.0,1997-11-29,99975.0,0.00,China,Chongqing,NaT,YES
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50.0,2006-10-26,163099.0,0.20,United States,Chicago,NaT,YES
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26.0,2019-09-27,84913.0,0.07,United States,Chicago,NaT,YES
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55.0,1995-11-20,95409.0,0.00,United States,Phoenix,NaT,YES

In [113]:
df_c.loc[0, 'Full Name'] = 'Hussam Alsayahien'
df_c.loc[1, 'Department'] = 'Finance'
df_c.loc[2, 'Full Name'] = 'Lama Alsabahien'
df_c.loc[3, 'Age'] = 40
df_c.loc[4, 'Gender'] = 'Female'

In [114]:
df_c.head()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date,Still Working
0,E02387,Hussam Alsayahien,Sr. Manger,IT,Research & Development,Female,Black,55.0,2016-04-08,141604.0,0.15,United States,Seattle,2021-10-16,NO
1,E04105,Theodore Dinh,Technical Architect,Finance,Manufacturing,Male,Asian,59.0,1997-11-29,99975.0,0.00,China,Chongqing,NaT,YES
2,E02572,Lama Alsabahien,Director,Finance,Speciality Products,Female,Caucasian,50.0,2006-10-26,163099.0,0.20,United States,Chicago,NaT,YES
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,40.0,2019-09-27,84913.0,0.07,United States,Chicago,NaT,YES
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Female,Asian,55.0,1995-11-20,95409.0,0.00,United States,Phoenix,NaT,YES

In [115]:
highest_salary = df_c[df_c['Annual Salary'] == df_c['Annual Salary'].max()]
print(f"{highest_salary}")

       EEID     Full Name       Job Title Department  Business Unit  Gender  \
989  E04354  Raelynn Rios  Vice President      Sales  Manufacturing  Female

    Ethnicity   Age  Hire Date  Annual Salary  Bonus %        Country  \
989    Latino  43.0 2016-08-21       258498.0     0.35  United States

         City Exit Date Still Working
989  Columbus       NaT           YES

In [116]:
#dept_group = df_c.groupby('Department')[['Age', 'Annual Salary']].mean()
dept_group = df_c.groupby('Department').agg({
    'Age' : 'mean',
    'Annual Salary': 'mean'
})

print(dept_group)

                       Age  Annual Salary
Department
Accounting       43.656250  123146.947917
Engineering      45.747605  108439.974522
Finance          45.317140  122796.173554
Human Resources  44.443548  117907.088710
IT               44.328244   97982.176471
Marketing        43.216667  129663.033333
Sales            43.609814  111120.635714
Unknown          45.000000   66902.500000

In [117]:
group = df_c.groupby(['Department', 'Ethnicity']).agg({
    'Age' : ['max', 'min'],
    'Annual Salary': 'median'
})
print(group)

                            Age       Annual Salary
                            max   min        median
Department      Ethnicity
Accounting      Asian      64.0  25.0      114893.0
                Black      51.0  30.0       91853.0
                Caucasian  62.0  26.0      121159.5
                Latino     62.0  26.0       92317.0
Engineering     Asian      65.0  25.0       91782.0
                Black      56.0  27.0       74412.0
                Caucasian  64.0  25.0       95639.0
                Latino     64.0  27.0       96818.0
Finance         Asian      64.0  25.0      122890.0
                Black      65.0  25.0      131652.0
                Caucasian  64.0  25.0      102847.0
                Latino     65.0  25.0      124553.0
Human Resources Asian      64.0  25.0      125871.5
                Black      55.0  25.0      142318.0
                Caucasian  64.0  26.0      100364.5
                Latino     65.0  29.0      101985.0
IT              Asian      65.0  25.0       90535.0
                Black      61.0  28.0       74834.5
                Caucasian  65.0  26.0       84596.0
                Latino     64.0  25.0       83403.0
Marketing       Asian      65.0  25.0      147752.0
                Black      65.0  27.0       86075.5
                Caucasian  65.0  25.0      113135.0
                Latino     65.0  29.0       97063.5
Sales           Asian      64.0  25.0       95372.0
                Black      65.0  26.0       94246.0
                Caucasian  63.0  26.0       96092.0
                Latino     61.0  26.0      113269.0
Unknown         Black      46.0  46.0       59067.0
                Caucasian  44.0  44.0       74738.0

In [118]:
df_c.groupby('Department').agg({
    'Annual Salary': lambda x: x.max() - x.min()  # salary range
})

                 Annual Salary
Department
Accounting            213377.0
Engineering           195414.0
Finance               214033.0
Human Resources       209225.0
IT                    216498.0
Marketing             216442.0
Sales                 217069.0
Unknown                15671.0

In [119]:
# Flatten MultiIndex columns
group.columns = ['Max Age', 'Min Age', 'Median Salary']

In [120]:
group

                           Max Age  Min Age  Median Salary
Department      Ethnicity
Accounting      Asian         64.0     25.0       114893.0
                Black         51.0     30.0        91853.0
                Caucasian     62.0     26.0       121159.5
                Latino        62.0     26.0        92317.0
Engineering     Asian         65.0     25.0        91782.0
                Black         56.0     27.0        74412.0
                Caucasian     64.0     25.0        95639.0
                Latino        64.0     27.0        96818.0
Finance         Asian         64.0     25.0       122890.0
                Black         65.0     25.0       131652.0
                Caucasian     64.0     25.0       102847.0
                Latino        65.0     25.0       124553.0
Human Resources Asian         64.0     25.0       125871.5
                Black         55.0     25.0       142318.0
                Caucasian     64.0     26.0       100364.5
                Latino        65.0     29.0       101985.0
IT              Asian         65.0     25.0        90535.0
                Black         61.0     28.0        74834.5
                Caucasian     65.0     26.0        84596.0
                Latino        64.0     25.0        83403.0
Marketing       Asian         65.0     25.0       147752.0
                Black         65.0     27.0        86075.5
                Caucasian     65.0     25.0       113135.0
                Latino        65.0     29.0        97063.5
Sales           Asian         64.0     25.0        95372.0
                Black         65.0     26.0        94246.0
                Caucasian     63.0     26.0        96092.0
                Latino        61.0     26.0       113269.0
Unknown         Black         46.0     46.0        59067.0
                Caucasian     44.0     44.0        74738.0

In [121]:
group = group.reset_index()

In [122]:
group

         Department  Ethnicity  Max Age  Min Age  Median Salary
0        Accounting      Asian     64.0     25.0       114893.0
1        Accounting      Black     51.0     30.0        91853.0
2        Accounting  Caucasian     62.0     26.0       121159.5
3        Accounting     Latino     62.0     26.0        92317.0
4       Engineering      Asian     65.0     25.0        91782.0
5       Engineering      Black     56.0     27.0        74412.0
6       Engineering  Caucasian     64.0     25.0        95639.0
7       Engineering     Latino     64.0     27.0        96818.0
8           Finance      Asian     64.0     25.0       122890.0
9           Finance      Black     65.0     25.0       131652.0
10          Finance  Caucasian     64.0     25.0       102847.0
11          Finance     Latino     65.0     25.0       124553.0
12  Human Resources      Asian     64.0     25.0       125871.5
13  Human Resources      Black     55.0     25.0       142318.0
14  Human Resources  Caucasian     64.0     26.0       100364.5
15  Human Resources     Latino     65.0     29.0       101985.0
16               IT      Asian     65.0     25.0        90535.0
17               IT      Black     61.0     28.0        74834.5
18               IT  Caucasian     65.0     26.0        84596.0
19               IT     Latino     64.0     25.0        83403.0
20        Marketing      Asian     65.0     25.0       147752.0
21        Marketing      Black     65.0     27.0        86075.5
22        Marketing  Caucasian     65.0     25.0       113135.0
23        Marketing     Latino     65.0     29.0        97063.5
24            Sales      Asian     64.0     25.0        95372.0
25            Sales      Black     65.0     26.0        94246.0
26            Sales  Caucasian     63.0     26.0        96092.0
27            Sales     Latino     61.0     26.0       113269.0
28          Unknown      Black     46.0     46.0        59067.0
29          Unknown  Caucasian     44.0     44.0        74738.0

In [123]:
with pd.ExcelWriter("employee_summary1.xlsx") as writer:
    df_c.to_excel(writer, sheet_name="Cleaned Data", index=False)
    group.to_excel(writer, sheet_name="Grouped Summary", index=False)